<% for(var i = 0; i<AltitudeSensor.length; i++){%>
    <tr>
        <td><%= i+1%></td>
        <td><%= AltitudeSensor[i].Time%></td>
        <td><%= AltitudeSensor[i].Date%></td>
        <td><%= AltitudeSensor[i].Altitude%></td>
    </tr>
    <%}%>