<% for(var i = 0; i<HumiditySensor.length; i++){%>
    <tr>
        <td><%= i+1%></td>
        <td><%= HumiditySensor[i].Time%></td>
        <td><%= HumiditySensor[i].Date%></td>
        <td><%= HumiditySensor[i].Humidity%></td>
    </tr>
    <%}%>