<% for(var i = 0; i<RainSensor.length; i++){%>
    <tr>
        <td><%= i+1%></td>
        <td><%= RainSensor[i].Time%></td>
        <td><%= RainSensor[i].Date%></td>
        <td><%= RainSensor[i].state%></td>
    </tr>
    <%}%>