<% for(var i = 0; i<data.length; i++){%>
    <tr>
        <td><%= i+1%></td>
        <td><%= data[i].Time%></td>
        <td><%= data[i].Date%></td>
        <td><%= data[i].Temperute (C°)%></td>
    </tr>
    <%}%>