<% for(var i = 0; i<TemperatureSensor.length; i++){%>
    <tr>
        <td><%= i+1%></td>
        <td><%= TemperatureSensor[i].Time%></td>
        <td><%= TemperatureSensor[i].Date%></td>
    </tr>
    <%}%>