<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DTN Application</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
 <!--Header-->
 <header id="header">
    <nav>
        <div class = "container">
            <div class="text-center">
                <a href="file:///Users/jamarimorris/Desktop/DTN_server_webpage/DTN_app/views/index.html" class = "nav-brand text-dark">DTN Application</a>
            </div>
        </div>
    </nav>
 </header>
 <!--/Header-->
 <!--Main Site-->
 <main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <a href="file:///Users/jamarimorris/Desktop/DTN_server_webpage/DTN_app/views/index.html" class = "border-shadow">
            <span class="text-gradient">
              <i class="fas fa-angle-double-left"></i> Home Page
            </span>
            </a>
        </div>
        <div class="form-title text-center">
            <h2 class = "text-dark">Current Data</h2>
            <span class ="text-light">Below contains all the data from the various sensors</span>
        </div>
        <div>
        <form action="/" method = "POST">
        <div class = "form-title">
            <span >Altitude Sensor</span>
        </div>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Time</th>
                        <th>Date</th>
                        <th>Altitude</th>
                    </tr>
                </thead>
                <tbody class="thead-dark border-shadow">
                    <tr>
                        <td>01:40:22.172265-05:00</td>
                        <td>2022-11-23</td>
                        <td>523.30m</td>
                    </tr>
                    <tr>
                        <td>01:40:22.348355-05:00</td>
                        <td>2022-11-23</td>
                        <td>523.70m</td>
                    </tr>
                    <tr>
                        <td>01:40:22.505224-05:00</td>
                        <td>2022-11-23</td>
                        <td>523.48m</td>
                    </tr>
                    <tr>
                        <td>01:40:22.665989-05:00</td>
                        <td>2022-11-23</td>
                        <td>523.30m</td>
                    </tr>
                </tbody>

            </table>
        </form>
        </div>
        <div>
        <div class = "form-title">
            <span>Humidity Sensor</span>
        </div>
        <form action="/" method = "POST">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                    <th>Time</th>
                    <th>Date</th>
                    <th>Humidity</th>
                    </tr>
                </thead>
                <tbody class="thead-dark border-shadow">
                    <tr>
                        <td>01:40:21.436803-05:00</td>
                        <td>2022-11-23</td>
                        <td>52.47%</td>
                    </tr>
                    <tr>
                        <td>01:40:21.591245-05:00</td>
                        <td>2022-11-23</td>
                        <td>52.40%</td>
                    </tr>
                    <tr>
                        <td>01:40:21.747427-05:00</td>
                        <td>2022-11-23</td>
                        <td>52.24%</td>
                    </tr>
                    <tr>
                        <td>01:40:21.916696-05:00</td>
                        <td>2022-11-23</td>
                        <td>52.20%</td>
                    </tr>
                </tbody>
            </table>
        </form>
        </div>
        <div>
        <div class = "form-title">
            <span>Pressure Sensor</span>
        </div>
        <form action="/" method = "POST">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                    <th>TIme</th>
                    <th>Date</th>
                    <th>Pressure</th>
                    </tr>
                </thead>
                <tbody class="thead-dark border-shadow">
                    <tr>
                        <td>01:40:20.707030-05:00</td>
                        <td>2022-11-23</td>
                        <td>951.95hPa</td>
                    </tr>
                    <tr>
                        <td>01:40:20.891477-05:00</td>
                        <td>2022-11-23</td>
                        <td>951.91hPa</td>
                    </tr>
                    <tr>
                        <td>01:40:21.044727-05:00</td>
                        <td>2022-11-23</td>
                        <td>951.93hPa</td>
                    </tr>
                    <tr>
                        <td>01:40:21.198560-05:00</td>
                        <td>2022-11-23</td>
                        <td>951.90hPa</td>
                    </tr>
                </tbody>
            </table>
        </form>
        </div>
        <div>
        <div class = "form-title">
            <span>Rain Sensor</span>
        </div>
        <form action="/" method = "POST">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                    <th>Time</th>
                    <th>Date</th>
                    <th>Rain Code</th>
                    <th>Status</th>
                    </tr>
                </thead>
                <tbody class="thead-dark border-shadow">
                    <tr>
                        <td>01:40:13.956031-05:00</td>
                        <td>2022-11-23</td>
                        <td>1023</td>
                        <td>No Rain</td>
                    </tr>
                    <tr>
                        <td>01:40:14.134251-05:00</td>
                        <td>2022-11-23</td>
                        <td>1023</td>
                        <td>No Rain</td>
                    </tr>
                    <tr>
                        <td>01:40:14.449074-05:00</td>
                        <td>2022-11-23</td>
                        <td>1023</td>
                        <td>No Rain</td>
                    </tr>
                    <tr>
                        <td>01:40:14.646458-05:00</td>
                        <td>2022-11-23</td>
                        <td>1023</td>
                        <td>No Rain</td>
                    </tr>
                </tbody>
            </table>
        </form>
        </div>
        <div>
        <div class = "form-title">
            <span>Temperature Sensor</span>
        </div>
        <form action="/" method = "">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                    <th>Time</th>
                    <th>Date</th>
                    <th>Temperature (C°)</th>
                    </tr>
                </thead>
                <tbody class="thead-dark border-shadow">
                    <tr>
                        <td>01:40:19.887515-05:00</td>
                        <td>2022-11-23</td>
                        <td>26.06</td>
                    </tr>
                    <tr>
                        <td>01:40:20.073336-05:00</td>
                        <td>2022-11-23</td>
                        <td>26.15</td>
                    </tr>
                    <tr>
                        <td>01:40:20.279760-05:00</td>
                        <td>t2022-11-23</td>
                        <td>26.16</td>
                    </tr>
                    <tr>
                        <td>01:40:20.483226-05:00</td>
                        <td>2022-11-23</td>
                        <td>26.18</td>
                    </tr>
                </tbody>
            </table>
        </form>
        </div>
        <div>
        <div class = "form-title">
            <span>UV Sensor</span>
        </div>
        <form action="/" method = "POST">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                    <th>Time</th>
                    <th>Date</th>
                    <th>Uv Sensor Data</th>
                    </tr>
                </thead>
                <tbody class=" thead-dark border-shadow">
                    <tr>
                        <td>01:40:10.839425-05:00</td>
                        <td>2022-11-23</td>
                        <td>-0.03</td>
                    </tr>
                    <tr>
                        <td>01:40:11.850429-05:00</td>
                        <td>2022-11-23</td>
                        <td>-0.03</td>
                    </tr>
                    <tr>
                        <td>01:40:12.003265-05:00</td>
                        <td>2022-11-23</td>
                        <td>0.04</td>
                    </tr>
                    <tr>
                        <td>01:40:12.393153-05:00</td>
                        <td>2022-11-23</td>
                        <td>1.89</td>
                    </tr>
                </tbody>
            </table>
        </form>
        </div>
    </div>
</main>
<!--/Main Site-->
